<h1 mat-dialog-title>Cadastro de novos Veículos</h1>
<div mat-dialog-content>
  <form [formGroup]="cadastroVeiculos" novalidate>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Insira a marca do Veículo" formControlName="marca" >
          <mat-error *ngIf="cadastroVeiculos.controls['marca'].hasError('required')">
            Marca do carro é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Insira o modelo do Veículo" formControlName="veiculo">
          <mat-error *ngIf="cadastroVeiculos.controls['veiculo'].hasError('required')">
            Modelo do carro é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">

      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="Insira o Ano do Veículo" formControlName="ano">
          <mat-error *ngIf="cadastroVeiculos.controls['ano'].hasError('required')">
            Ano do veículo é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

    </div>
    <div class="row">
      <mat-form-field class="full-width">
            <textarea rows="5" matNativeControl placeholder="Insira aqui uma observação"
                      formControlName="descricao"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="button-dialog">
  <button mat-button (click)="fecharModal()">Cancelar</button>
  <button mat-raised-button color="primary" type="submit" (click)="cadastrarVeiculo()">Cadastrar</button>
</div>
