.mat-toolbar{
  display: flex;
  justify-content: space-between;
}

.area-total {
  width: 100%;
  height: 91vh;
}
.area-menu{
  width: 200px;
  background-color: #ffffff ;
}
.card-home{
  width: 100%;
  margin-top: 20px;
}

.item-menu{
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 35px;
}
.item-menu:hover{
  background-color: #efefef;

}

.icon-menu{
  color: #d9d9d9;
  margin-right: 10px;
}

.container{
  display: flex;
  justify-content: center;
}

.container2{
  width: 900px;
  display: flex;
  flex-direction: column;
}

.cab{
  display: flex;
  justify-content: space-between;
}

.button-section{
  margin-top: 10px;
}

.button-section button{
  margin-right:10px ;
  margin-left:10px ;
}

.tabela-carros{
  margin-top: 10px;
}

.tabela-carros{
  width: 100%;
}
table{
  width: 100%;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.mat-elevation-z8{
  margin-top: 15px;
}

.input-pesquisa {
  display: flex;
  margin-top: 5px;
}

.example-full-width {
  width: 100%;
}

.pesquisa{
  margin-top: 5px;
}
.limpa{
  margin-left: -12px;
}
mat-header-cell, mat-cell {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .cab {
    flex-direction: column-reverse;
  }
  .modal {
    width: auto;
  }
}





